
@media screen and (min-width: 1750px) {
    #Summary{
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 35rem;
    }
    
    #Guessed, #Skipped{
        padding: 2rem;
        border-radius: 15px;
        display: grid;
        grid-template-columns: 10rem 10rem 10rem ;
        grid-template-rows: auto;
        place-items: center;
        row-gap: 1rem;
        column-gap: 1rem;
    }
}
@media screen and (max-width: 1750px) {
    #Summary{
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 15rem;
    }
    
    #Guessed, #Skipped{
        padding: 2rem;
        border-radius: 15px;
        display: grid;
        grid-template-columns: 10rem 10rem 10rem ;
        grid-template-rows: auto;
        place-items: center;
        row-gap: 1rem;
        column-gap: 1rem;
    }
}
@media screen and (max-width: 1450px) {
    #Summary{
        display: block;

        .sections{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 10rem;
        }
    }
}
@media screen and (max-width: 1000px){
    #Guessed, #Skipped{
        padding: 2rem;
        border-radius: 15px;
        display: block;
    }
}

#WholeSummary{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Summary{

    color: white;
    .sections{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h1{
        margin-bottom: 2rem;
    }
}


#Guessed{
    box-shadow: 0px 0px 25px 0px lime;
    border: 2px solid lime;
}

#Skipped{
    box-shadow: 0px 0px 25px 0px red;
    border: 2px solid red;
}