$spotifyGreen1: #1fdf64;
$spotifyGreen2: #1ed760;
$spotifyDark: #191414;


@keyframes checkbox-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
 .wholeCheckboxes{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
 }
 
  .checkboxes{
    color: white;
    display: flex;
    margin-left: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    div{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    input{
      width: 1.5rem;
      height: 1.5rem;
    }
    input:checked{
      animation: checkbox-spin 0.5s ease-in;
    }  
  }
  