$spotifyGreen1: #1fdf64;
$spotifyGreen2: #1ed760;
$spotifyDark: #191414;
$spotifySub: #a7a7a7;


@keyframes checkbox-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
 .wholeCheckboxes{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
 }
 

ul{
  padding: 0;
}
  
  li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
  }
  
  
  
  li.dropdown {
    width: 400px;
    padding: 10px;
    border: 1px solid $spotifySub;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown-content {
    display: none;  
    position: absolute;
    background-color: $spotifyDark;
    width: 420px;
    top: 200px;
    margin-top: -1rem;
  }
  
  .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px;
  }
  
  .dropdown-content a:hover {color: $spotifyGreen2;}
  
  .dropdown:hover .dropdown-content {
    border-left: 1px solid $spotifyGreen1;
    border-right: 1px solid $spotifyGreen1;
    border-bottom: 1px solid $spotifyGreen1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
li.dropdown:hover{
  border: 1px solid $spotifyGreen1;
}