body{
  background-color: #282c34;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  gap: 2rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container{
  margin: 9rem;
  width: 100rem;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}

#card {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 20px;
  background-color: #0d0f11;
  width: 15rem;
  height: 20rem;
  border: 1px solid cyan;
  color: white;
  margin: 3rem
}
#card span{
  margin: 1rem;
  display: flex;
  justify-content: center;
}

